@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: white;
  --size: 200px;
}

@layer base {
  body {
    @apply dark:bg-stone-900 bg-stone-100 text-gray-900 font-subtitle
  }

  h1 {
    @apply font-bold my-12 2xl:text-8xl font-secondary 
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .section {
    @apply px-8;

    &--top {
      @apply max-md:pt-20 pt-24;
    }
  }
}