@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: white;
  --size: 200px;
}

@layer base {
  body {
    @apply dark:bg-stone-900 bg-white
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}